@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --font-base: Ubuntu, sans-serif;
  --font-accent: 'Libre Baskerville', serif;
  font-family: var(--font-base);
  --txt-color: #555;
  --bg-color: white;
  --bg-color-transparent: #ffffff77;
  --primary-color: #468266;

  /* https://mycolor.space/?hex=%252349886B */
  --secondary-color: #007cb9;
  --secondary-alt-color: #746bbf;

  --accent-color: #996b21;

  --max-width: 52rem;
  --breakpoint: 48rem;

  line-height: 2em;


  color: var(--txt-color);
}

html {
  height: 100%;
}
html.dark {
  filter: invert(1) hue-rotate(180deg) contrast(70%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --txt-color: #bbb;
    --bg-color: #222;
    --bg-color: #282621;
    --bg-color-transparent: #28262177;

    /* https://mycolor.space/?hex=%252349886B */
    --primary-color: #7dbe9e;
    --secondary-color: #00bcff;
    --secondary-alt-color: #8e83ee;
    --accent-color: #bd9561;
  }
}

body {
  background: var(--bg-color);
  margin: 0;
  padding: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
}
header {
  flex-grow: 0;
}
main {
  flex-grow: 1;
}
footer {
  flex-grow: 0;
  margin: 5rem 1rem 0;
  padding-bottom: 1em;
  font-size: .7rem;
  text-align: center;
}

li,
p {
  line-height: 1.4;
}

a {
  color: var(--secondary-color);
}
main a:visited,
footer a:visited,
p >a:visited {
  color: var(--secondary-color);
  color: var(--secondary-alt-color);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 900;
  font-family: var(--font-accent);
  letter-spacing: -0.05em;
  color: var(--primary-color);
  margin: 1rem 0;
}

h3 {
  font-weight: bold;
  color: var(--accent-color);
  margin: 1rem 0;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

strong {
  font-weight: bold;
  color: var(--primary-color);
}
em {
  font-style: italic;
}

header {
  color: var(--primary-color);
  border-bottom: 1px solid currentColor;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
header a {
  color: inherit;
  text-decoration: none;
}
header h1.tagline {
  font-size: inherit;
  font-style: italic;
  padding-bottom: 2rem;
}

#nav a.home {
  display: flex;
  align-items: center;
  text-decoration: none !important;
  flex-grow: 3;
}
#nav i.plus-sign {
  color: inherit;
  border: 3px solid currentColor;
  border-radius: 100px;
  aspect-ratio: 1 / 1;
  width: 0.8em;
  height: 0.8em;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

#nav {
  margin: 0;
  padding: 0;

  padding: 1em 0;
  display: flex;
  align-items: baseline;
}

#nav a {
  padding: 0 1rem;
}
#nav a:first-child {
  padding-left: 0;
}
#nav a:last-child {
  padding-right: 0;
}
#nav a:hover {
  text-decoration: underline;
}

.hero.after-header {
  margin-top: calc(-2rem - 1px);
}

.hero {
  padding: 5rem 0;
  margin: 2rem 0;
  position: relative;
  isolation: isolate;

  color: var(--bg-color);
  background-color: var(--secondary-color);
  /*
  background-image: url("../images/grain.svg");
   */
  background-repeat: repeat;
  background-blend-mode: overlay;
}


.hero::before {
  content: '';
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;

  background-image: radial-gradient(circle, var(--primary-color) 15%, transparent 95%);
  background-repeat: repeat;
  background-size: 200% 300%;
  background-position: 10% 10%;
  color: var(--bg-color);

  animation: background-wiggle 30s linear infinite alternate;
}

.hero > * {
  mix-blend-mode: luminosity;

}
@media(max-width: 48rem) {
  .hero {
    padding: 1rem 0;
  }
}

@keyframes background-wiggle {
  0%   { background-position: 10% 10% }
  25%  { background-position: 90% 10% }
  50%  { background-position: 90% 90% }
  75%  { background-position: 10% 90% }
  100% { background-position: 10% 10% }
}




.hero h1, .hero h2, .hero h3 {
  color: var(--bg-color);
}

main > h3,
main > p,
.container {
  width: min(var(--max-width), calc(100vw - 2rem));
  margin-left: auto;
  margin-right: auto;
}






.colorize-bw {
  filter:
        /* black to white */
        invert(100%)
        /* white to off-white */
        sepia(100%)
        /* off-white to yellow */
        saturate(10000%)
        /* do whatever you want with yellow */
        hue-rotate(120deg)
        saturate(30%)
        ;
}

.rendered ul {
  list-style-type: circle;
  list-style-position: inside;
}




.faq h3 {
  display: inline;
}

.faq a.faq-title {
  text-decoration: none;
}
